<form action="">
    <p>
        <label for="titulo">Título</label>
        <input type="text" name="titulo" id="titulo">
    </p>
    <p>
        <label for="conteudo">Conteúdo</label>
        <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
    </p>
    <input type="submit" value="Postar">
</form>