<h1>Lista de posts</h1>

<a href="postar"><button>Postar</button></a>

<br><br>

{{#each posts}}

<small>{{createdAt}}</small>
<h1>{{titulo}}</h1>
<p>{{conteudo}}</p>
<a href="/deletar/{{id}}"><button>Deletar</button></a>
<hr>

{{/each}}
